<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%if(error){%>
        <p>
            <%=error%>
        </p>
        <%}%>
            <form action="/login" method="post">
                <label for="email">Enter Your Email: <input id="email" name="email" type="email" required /></label>
                <label for="new-password">Create a New Password: <input id="new-password" name="password"
                        type="password" required /></label>
                <input type="submit" value="Submit" />
                don't have an account signup<a href="./">here</a>
            </form>

</body>

</html>